#app {
  width: 100vw;
  height: fit-content;
  margin: 0 0;
  padding: 0;
  font-weight: normal;
}

body {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
